.users span:first-child div:first-child img{
  width: 50px;
  margin-top: 10px;
}
.selectedPage{
  font-weight: bold;
  font-size: 18px;
}
.pagination{
  cursor: pointer;
  width: 990px;
}
.pagination span{
  margin: 7px;
}