.users{
  margin-left: 10px;
}
.users span:first-child div:first-child img{
  width: 50px;
  margin-top: 10px;
}
.selectedPage{
  font-weight: bold;
  font-size: 18px;
}
.pagination{
  width: 990px;
  cursor: pointer;
  margin: 8px;
}
.pagination span{
  margin-right: 7px;
}